body,
html {
  overflow: hidden;
  margin: 0;
}

.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: 0;
  grid-template-rows: 10% 90%;
}

.title {
  border: 2px solid red;
  border-radius: 2px;
  box-sizing: border-box;
}

.screen {
  border: 2px solid blue;
  border-radius: 2px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.left-item {
  border: 2px solid green;
  border-radius: 2px;
  box-sizing: border-box;
}

.middle-item {
  border: 2px solid cyan;
  border-radius: 2px;
  box-sizing: border-box;
}

.right-item {
  border: 2px solid orange;
  border-radius: 2px;
  box-sizing: border-box;
}